<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form #loginForm="ngForm" validate>
        <div>
            <p>Enter Your Phone Number Below</p>
        </div>
        <ion-item>
            <ion-input type="tel" [(ngModel)]="credentials.phone_number" name="phone_number" #phone_number="ngModel" required></ion-input>
        </ion-item>
        <ion-text color="danger">
            <p [hidden]="phone_number.valid || submitted == false" class="ion-padding-start">
                Phone Number is required
            </p>
        </ion-text>
    </form>
</ion-content>

<div class="bar bar-footer ">
    <ion-button expand="full " ion-button color="warning" (click)="verifyPhoneNumber(loginForm)" type="submit">Verify</ion-button>
</div>